#toolbar {
    background: #fff;
    height: 34px;
    padding-top: 6px;
    position: fixed;
    width: 100%;
    z-index: 999;
}
#current-filepath {
    border: 1px solid rgb(215, 190, 238);
    padding: 5px;
    height: 12px;
    color: #333;
    margin-left:31px;
    width: 87%;
}
#main-area {
    z-index: 1;
    position: relative;
    top: 33px;
}
.item {
    position: relative;
    float: left;
    padding: 1em;
    margin: 1em;
    width: 6em;
    height: 6em;
    text-align: center;
}
.item .filename {
    padding-top: 1em;
    font-size: 10pt;
}